.eficiencia {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 32px;
}

.eficiencia-bg {
  background: #fdfdfe;
}

.eficiencia-conteudo h2 {
  margin-bottom: 24px;
}

.eficiencia-conteudo h3 {
  margin-bottom: 14px;
}

.eficiencia-conteudo {
  justify-content: center;
  margin-top: 60px;
}

.eficiencia-conteudo p {
  margin-bottom: 18px;
}
