.slide img {
  width: 100%;
}

.brasil-bg {
  background: var(--cor-3);
  padding: 10px 70px 9px 70px;
  border-bottom: 0.5px solid #575757;
}

.brasil {
  display: flex;
  align-items: center;
  place-content: end;
  gap: 6px;
}

.menu-bg {
  background: var(--cor-3);
  padding: 18px 70px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 24px;
}

.menu-lista {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 28px;
}
